<h3>Add company details</h3>
<form #companyForm="ngForm" (ngSubmit)="addCompany(companyForm);">
    <label for="first-name-field">First Name:&nbsp;</label>
    <input type="text" name="firstName" ngModel #companyFirstName="ngModel" id="first-name-field" required/><br>
    <span class="text-danger" style="color: red;"
    *ngIf="companyFirstName.errors?.required && (companyFirstName.dirty||companyFirstName.touched||companyFirstName.untouched)">*required</span><br>
    <label for="last-name-field">Last Name:&nbsp;</label>
    <input type="text" name="lastName" ngModel id="last-name-field"/><br>
    <label for="email-field">E-Mail:&nbsp;</label>
    <input type="email" name="email" ngModel #companyEmail="ngModel" id="email-field"
    pattern="^[A-Za-z0-9_](([_\.\-\$%+]?[a-zA-Z0-9]+)*)@([A-Za-z0-9]+)(([\.\-]?[a-zA-Z0-9]+)*)\.([A-Za-z]{2,63})$" required/><br>
    <span class="text-danger" style="color: red;"
    *ngIf="companyEmail.errors?.required && (companyEmail.dirty||companyEmail.touched||companyEmail.untouched)">*required</span><br>
    <span style="color: red"
        *ngIf="companyEmail.errors?.pattern && (companyEmail.dirty || companyEmail.touched || companyEmail.untouched)">*
        Invalid
        email format</span><br>
    <label for="phone-field">Phone:&nbsp;</label>
    <input type="text" name="phone" ngModel id="phone-field"/><br>
    <label for="address-field">Address:&nbsp;</label>
    <textarea name="address" ngModel id="address-field" cols="30" rows="10"></textarea><br>
    <input type="submit" value="Save">
    <input type="button" [routerLink]="['/']" (click)="companyForm.reset();" value="Cancel">
</form>