<h3>List of companies available</h3>
<input [routerLink]="['/company-add']" type="button" value="Add">
<div>
    <h5>Search the list</h5>
    <form #filterForm="ngForm" (ngSubmit)="filterCompany(filterForm);">
        <div>
            <label for="filter-name">Search by:</label>
            <select name="filterName" ngModel id="filter-name" required>
                <option value="Firstname">First Name</option>
                <option value="Lastname">Last Name</option>
                <option value="Email">E-Mail</option>
                <option value="CreatedOn">Created On</option>
            </select>
        </div>
        <div>
            <label for="filter-value">Value:</label>
            <input type="text" class="jk-filter-date" name="filterValue" ngModel id="filter-value" required/>
        </div>
        <input type="submit" value="Go">
        <input type="button" id="jk-clear-filter" (click)="isFilter=false;filterForm.reset();" value="Clear">
    </form>
</div><br>
<table border="1">
    <thead>
        <tr>
            <th>Name</th>
            <th>E-Mail</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Created On</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let company of companies | paginate: {itemsPerPage:limit, currentPage:page, totalItems: totalCompanies} let i=index;">
            <td>{{company.Firstname}}&nbsp;{{company.Lastname}}</td>
            <td>{{company.Email}}</td>
            <td>{{company.Phone}}</td>
            <td>{{company.Address}}</td>
            <td>{{company.CreatedOn}}</td>
            <td>
                <input (click)="editById(company._id);" type="button" value="Edit"/>&nbsp;
                <input (click)="deleteById(company._id);" type="button" value="Delete"/>
            </td>
        </tr>
    </tbody>
</table>
<pagination-controls (pageChange)="listCompanies($event); page=$event;"></pagination-controls>