<h3>Edit company details</h3>
<form #companyForm="ngForm" *ngIf="companyDetails" (ngSubmit)="updateById(companyForm);">
    <label for="first-name-field">First Name:&nbsp;</label>
    <input type="text" name="firstName" #companyFirstName="ngModel" [(ngModel)]="companyDetails.Firstname" id="first-name-field" required/><br>
    <span class="text-danger" style="color: red;"
    *ngIf="companyFirstName.errors?.required && (companyFirstName.dirty||companyFirstName.touched||companyFirstName.untouched)">*required</span><br>
    <label for="last-name-field">Last Name:&nbsp;</label>
    <input type="text" name="lastName" [(ngModel)]="companyDetails.Lastname" id="last-name-field"/><br>
    <label for="email-field">E-Mail:&nbsp;</label>
    <input type="text" name="email" #companyEmail="ngModel" [(ngModel)]="companyDetails.Email"
    pattern="^[A-Za-z0-9_](([_\.\-\$%+]?[a-zA-Z0-9]+)*)@([A-Za-z0-9]+)(([\.\-]?[a-zA-Z0-9]+)*)\.([A-Za-z]{2,63})$" id="email-field" required/><br>
    <span class="text-danger" style="color: red;"
    *ngIf="companyEmail.errors?.required && (companyEmail.dirty||companyEmail.touched||companyEmail.untouched)">*required</span><br>
    <span style="color: red"
        *ngIf="companyEmail.errors?.pattern && (companyEmail.dirty || companyEmail.touched || companyEmail.untouched)">*
        Invalid
        email format</span><br>
    <label for="phone-field">Phone:&nbsp;</label>
    <input type="text" name="phone" [(ngModel)]="companyDetails.Phone" id="phone-field"/><br>
    <label for="address-field">Address:&nbsp;</label>
    <textarea name="address" [(ngModel)]="companyDetails.Address" id="address-field" cols="30" rows="10"></textarea><br>
    <input type="submit" value="Update">
    <input type="button" [routerLink]="['/']" value="Cancel">
</form>